* {
  margin: 0;
  padding: 0;
}
body {
  background-color: greenyellow;
  color: black;
  font-family: "Press Start 2P", cursive;
  padding: 30px;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.heading button {
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}
main h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
.mainContent {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 10px;
  align-items: center;
  margin-top: 150px;
}
.number h1 {
  background-color: white;
  z-index: 2;
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.lowerContent {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  justify-content: space-around;
}
.enterNumber {
  height: 100px;
  font-size: 30px;
  width: 30vw;
  padding-left: 30px;
  font-family: "Press Start 2P", cursive;
}
.leftLowerContent {
  display: flex;
  flex-direction: column;
}
.leftLowerContent button {
  background-color: transparent;
  border: 0px;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
}
.rightLowerContent {
  gap: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.SCORE {
  display: flex;
  flex-direction: row;
}
